.main { 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
.dropdown {
    text-align: left;
    padding: 30px 15%;
}
.menu {
    margin: -30px 15%;
}
.buttonRow {
    padding: 30px 15%; 
    border-bottom: thin solid;
    border-color: lightgrey;
}

.button {
    text-align:right;
}

.addRow {
    padding: 30px 15%;  
    border-bottom: thin solid;
    border-color: lightgrey;
}
.infoRow {
    padding: 60px 15% 30px 15%;
    margin: 0 auto;
    font-size:1em;
    width:80%;
    text-align:left;
}

.year {
    color:#67BDD0;
}

.table {
    text-align:left;
    margin: 0 auto;
    font-size: 0.95em;
    width:100%
}