.main { 
    padding: 50px 15%;
}

.dropdown {
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.buttonRow {
    margin: 40px 0;
}
.selected {
    text-align: left;
}
.button {
    text-align: right;
}

.infoRow {
    padding: 20px 0;
    margin: 0 auto;
    font-size:0.90em;
    width: 80%;
}

.year {
    color:#67BDD0;
    text-align:right;
}

.table {
    text-align: left;
    margin: 0 auto;
    font-size: 0.90em;
    width: 60%;
}

.form {
    padding: 50px 0;
}