.bgimage {
    background-image: url('./header.jpg');
    background-position: center;
    background-size: cover;
    height: 250px;
    width: 100%;
  }

  .header-text {
    text-align: center;
  
    padding-top: 100px;
    color:white;
  }
