.app {
  text-align: center;
  font-family: Verdana;
  width: 100%;
   }

 body {background: #fafafa;}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

